<div class="detail-extralink mb-50">
    <!-- <div class="detail-qty border radius">
        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
        <span class="qty-val">1</span>
        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
    </div> -->
    <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10">
    <br>
    <div class="product-extra-link2">
        <input type="hidden" value="{{product.id}}" id=""  class='product-id' name="">
        <input type="hidden" value="{{product.title}}" id=""  class='product-title' name="">
        
        <button type="submit" class="button button-add-to-cart" id="add-to-cart-btn"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
    </div>
</div>